body {
  background-image: url("./images/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Raleway", sans-serif;
  display: grid;
  grid-template-rows: 20% 30% 2% 15% 5% 5% 18%;
  grid-template-columns: 5% 90% 5%;
  height: 100vh;
  font-size: 16px;
}
body .bold {
  font-weight: 700;
}

@media (min-width: 480px) {
  body {
    background-image: url("./images/bg-desktop.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
    background-color: #0c122c;
    grid-template-rows: 38% 5% 3% 16% 38%;
    grid-template-columns: 18% 25% 2% 37% 18%;
  }
}
.container-1 {
  background-color: #1d2c67;
  grid-column: 2/3;
  grid-row: 2/3;
  border-radius: 10px 100px 10px 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.container-1 .title {
  grid-row: 1/2;
  margin-left: 40px;
  margin-top: 40px;
  align-self: center;
}
.container-1 .actions {
  grid-row: 2/3;
  align-self: center;
  display: flex;
  margin-left: 40px;
}
.container-1 .actions .icon-container {
  background-color: #0c122c;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.container-1 .actions .icon-container img {
  height: 24px;
  margin-top: 13px;
}
.container-1 .actions .icon-container img.document {
  width: 20px;
  margin-left: 15px;
}
.container-1 .actions .icon-container img.folder {
  margin-left: 11px;
}
.container-1 .actions .icon-container img.upload {
  margin-left: 7px;
}

@media (min-width: 480px) {
  .container-1 {
    grid-row: 2/5;
  }
}
.container-2 {
  background-color: #1d2c67;
  grid-column: 2/3;
  grid-row: 4/6;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 30% 10% 20%;
  grid-template-columns: 10% 80% 10%;
}
.container-2 p {
  color: #dddbff;
  font-size: 0.8rem;
}
.container-2 .text {
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
}
.container-2 .bar {
  grid-row: 2/3;
  grid-column: 2/3;
  position: relative;
  background: #0c122c;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
.container-2 .progression {
  width: 81.5%;
  height: calc(100% - 4px );
  margin-left: 2px;
  margin-top: 2px;
  border-radius: 20px;
  background: #ffa399;
  background: linear-gradient(90deg, #ffa399 0%, #ff4d97 100%);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}
.container-2 .progression img {
  grid-row: 1/2;
  grid-template: 1/2;
  width: 9px;
  height: 9px;
  justify-self: right;
  padding-right: 2px;
  padding-top: 2px;
}
.container-2 .bar-unit {
  grid-row: 3/4;
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 480px) {
  .container-2 {
    grid-column: 4/5;
    grid-row: 3/5;
  }
}
.container-3 {
  grid-column: 2/3;
  grid-row: 5/7;
  background-color: white;
  border-radius: 10px;
  width: 70%;
  justify-self: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.container-3 p {
  color: black;
  font-size: 2em;
  font-weight: 700;
  margin: 0;
}
.container-3 span {
  color: #848794;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 2em;
}

@media (min-width: 480px) {
  .container-3 {
    grid-column: 4/5;
    grid-row: 2/4;
    width: 35%;
    margin-left: 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
